.banner_container {
  background: url("../../../assets/banner-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 10px;
}
